@using JK.Resources
<div class="col-md-7  followupcontent" id="followup">
    <div class="row">
        <div class="col-md-12 portlet-align">
            <div class="portlet box div-right portlet-bottom" style="background-color: #a3a9ad;">
                <div class="portlet-title compact">
                    <div class="caption">
                        Follow-Up Detail
                    </div>
                </div>
                <div class="portlet-body">
                    <form action="#" id="form_followpotentialstagedetail" class="form-horizontal">
                        <div class="form-body">
                            @Html.Hidden("AccountDetailId", "", new { @id = "accountdetailid" })
                            <!-- Available To Meet -->
                            <!--Start Date/Time-->
                            <div class="form-group">
                                <label for="schedule_start" class="control-label col-md-4">Start Date/Time<span class="required">*</span>:</label>
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-group input-group-sm input-sm date date-picker input_followupPd_startdate"  data-date-format="mm/dd/yyyy" id="input_followupPd_startdate" style="margin-left:-12px;" disabled="disabled" />
                                    </div>
                                    <!--Start Time-->
                                    <div class="col-md-6" style="margin-left:-26px;">
                                        <div class="input-icon">
                                            <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                            <input type="text" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default input_followupPd_starttime" id="input_followupPd_starttime" disabled="disabled" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--End Date/Time-->
                            <div class="form-group">
                                <label for="schedule_start" class="control-label col-md-4">End Date/Time<span class="required">*</span>:</label>
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control input-group input-group-sm input-sm date date-picker input_followupPd_enddate"  data-date-format="mm/dd/yyyy" id="input_followupPd_enddate" style="margin-left:-12px;" disabled="disabled" />
                                    </div>
                                    <!--End Time-->
                                    <div class="col-md-6" style="margin-left:-26px;">
                                        <div class="input-icon">
                                            <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                            <input type="text" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default input_followupPd_endtime" id="input_followupPd_endtime" value="" disabled="disabled" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="schedule_purpose" class="control-label col-md-4">Purpose:</label>
                                <div class="col-md-6">
                                    <select id="select_followupPdpurpose" class="form-control input-sm select_followupPdpurpose" disabled="disabled">
                                        <option value="">Select</option>
                                        <option value="1">Call Back</option>
                                        <option value="2">Meeting</option>
                                        <option value="3">Follow-Up</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Price Approved -->
                            <div class="form-group">
                                <label for="select_priceapproved" class="control-label col-md-4">Close<span class="required">*</span>:</label>
                                <div class="col-md-6">
                                    <select id="select_closetype" class="form-control input-sm select_closetype" name="options2">
                                        <option value="">Select</option>
                                        <option value="1">Rebidding</option>
                                        <option value="2">Contract Sign</option>
                                        <option value="3">Need To ReSchedule</option>
                                        <option value="4">Pending Decision</option>
                                        <option value="5">Closed Sale Circle</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Available To Meet -->
                            <div class="col-md-12 div_reschedule" id="div_reschedule">


                                <!--Start Date/Time-->
                                <div class="form-group">
                                    <label for="schedule_start" class="control-label col-md-4">Start Date/Time<span class="required">*</span>:</label>
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control input-group input-group-sm input-sm date date-picker input_followup_reschedule_startdate"  data-date-format="mm/dd/yyyy"  style="margin-left:-12px;" />
                                        </div>
                                        <!--Start Time-->
                                        <div class="col-md-6" style="margin-left:-26px;">
                                            <div class="input-icon">
                                                <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                                <input type="text" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default input_followup_reschedule_starttime">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--End Date/Time-->
                                <div class="form-group">
                                    <label for="schedule_start" class="control-label col-md-4">End Date/Time<span class="required">*</span>:</label>
                                    <div class="col-md-6">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control input-group input-group-sm input-sm date date-picker input_followup_reschedule_enddate"  data-date-format="mm/dd/yyyy"  style="margin-left:-12px;" />
                                        </div>
                                        <!--End Time-->
                                        <div class="col-md-6" style="margin-left:-26px;">
                                            <div class="input-icon">
                                                <i class="fa fa-clock-o" style="margin-top:7px;"></i>
                                                <input type="text" class="form-control input-group input-group-sm input-sm  timepicker timepicker-default input_followup_reschedule_endtime"  value="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="schedule_purpose" class="control-label col-md-4">Purpose:</label>
                                    <div class="col-md-6">
                                        <select id="selectpotential_followmeetagainpurpose" class="form-control input-sm select_followup_reschedulePurpose">
                                            <option value="">Select</option>
                                            <option value="1">Call Back</option>
                                            <option value="2">Meeting</option>
                                            <option value="3">Follow-Up</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <h5 class="form-section sbold uppercase"><b>@JKCRMResource.note:</b></h5>
                            <!-- Note -->
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextArea("note", "", new { @class = "form-control autosizeme textarea_followupnote", rows = "10", style = "font-size: 11px", @id = "textarea_followupnote" })
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row" id="follow_summary_action">
                                <div class="col-md-3 pull-right">
                                    <button id="potential_savefollowsummary_button" type="button" class="btn green btn-block" onclick="validFollowupDetail();">@CommonResource.btnSave</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
