@page {
    size: 8.5in 11in;
    margin: 0px;
}

@font-face {
    font-family: MICR;
    src: url('micrenc.ttf');
}

div.print-container {
    width: 100%;
    margin: 0 auto;
    text-align: center
}

.print-button {
    padding: 5px;
    margin: 10px;
}

p.page-divider {
    page-break-before: always;
}

@media screen {
    p.page-divider {
        height: 20px;
        display: block;
        width: 100%;
        background-color: black;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    p.page-divider-last {
        height: 0px !important;
    }
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    body {
        margin: 0px !important;
    }

    div.page-container {
        width: 8.5in;
        height: 11in;
        margin: 0px;
        position: relative;
    }

    .check-report {
        height: 100%;
    }

    .memo {
        position: absolute;
        bottom: 4.0in;
    }

    .check-container {
        position: absolute;
        top: 0;
        left: 0.125in;
    }

    .check-container.bottom {
        top: unset;
        bottom: 0.125in;
    }
}

.check-report {
    box-sizing: border-box;
    position: relative;
    padding-top: 0.5in;
    margin-left: 0.5in;
    margin-right: 0.5in;
}

.check-pagereport {
    width: 8.5in;
    height: 6.7in;
    box-sizing: border-box;
    position: absolute;
    padding-top: 0.5in;
    margin-left: 0.5in;
    margin-right: 0.5in;
}

.check-pagefooterreport {
    width: 8.5in;
    height: 1in;
    box-sizing: border-box;
    position: absolute;
    padding-top: 0.5in;
    margin-left: 0.5in;
    margin-right: 0.5in;
}

.check-container {
    margin: 0 auto;
}

.check, .check-container {
    width: 8.25in;
    height: 3.3in;
}

.check {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.check.debug {
    border: 1px solid black;
}

.check-element {
    position: absolute;
    font-family: Arial;
    z-index: 1;
    margin: 0;
}

.check-element.img {
    -webkit-print-color-adjust: exact;
}

div.hline {
    position: absolute;
    z-index: 1;
    height: 1px;
    border-bottom: 1px solid #000;
}

.debug div.hline {
    border-bottom: 1px solid #F00;
}

.debug .check-element {
    color: #FF0000;
}

.debug .check-element.img {
    background-color: rgba(255, 0, 0, 0.5);
}

.micr {
    font-family: MICR;
}

h1 {
    font-weight: bold;
    font-size: 12pt;
    /* letter-spacing: -0.5px; */
}
h2 {
    font-weight: bold;
    font-size: 11pt;
    /* letter-spacing: -0.7px; */
}
h3 {
    font-weight: normal;
    font-size: 11pt;
    /* letter-spacing: -0.7px; */
}
h4 {
    font-weight: normal;
    font-size: 9pt;
    /* #letter-spacing: -0.8px; */
}
h5 {
    font-weight: normal;
    font-size: 9pt;
    font-style: italic;
    /* #letter-spacing: -0.8px; */
}
h6 {
    font-weight: normal;
    font-size: 7pt;
    /* letter-spacing: -0.8px; */
}

h1.micr {
    font-weight: normal;
    font-size: 25px;
    /* #letter-spacing: -0.7px; */
}
