.cls {
    width: 800px;
    margin: 0 auto;
    color: #000000;
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.my10 {
    margin: 10px 0;
}

.cls > a {
    color: #000000;
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.text-underline {
    text-decoration: underline;
}

header {
    padding: 10px 0;
    margin-bottom: 30px;
}

.logo {
    margin-bottom: 10px;
}

.logo img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.logo h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    line-height: 1.4em;
    text-transform: uppercase;
    margin: 0;
    font-family: Times New Roman;
}

.left {
    width: 50%;
    float: left;
    margin-right: 5%;
}

    .left span {
        width: 38%;
        margin-right: 10px;
        display: inline-block;
        font-size: 12px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: right;
    }

.cls input[type="text"]:focus,
.cls input[type="number"]:focus,
.cls textarea:focus {
    outline: none !important;
}

.cls input,
.cls textarea {
    width: 57%;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: black;
    background-color: #f1f4ff;
}

.right div,
.left div {
    margin-bottom: 10px;
}

.right {
    width: 45%;
    float: right;
}

.left span,
.right span,
.date span,
.list span,
.franchisee span {
    margin-right: 10px;
    display: inline-block;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
}

.right .smallInput {
    width: 36%;
}

.right .extraSmallInput {
    width: 32%;
}

.right input {
    width: 100%;
}

.list {
    padding: 0 1em;
    margin: 0;
}

ol.list li {
    font-size: 12px;
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 10px;
}

.list .extraSmallInput {
    width: 15%;
    margin: 0 20px;
}

ul.paymentType {
    padding: 0;
    margin: 30px 0;
}

ul.paymentType li {
    width: 18%;
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    font-weight: 400;
    text-transform: inherit;
    text-align: center;
}

ul.paymentType li input {
    width: 90%;
}

ul.paymentType li.widthAuto {
    width: auto;
    padding: 0 5px;
}

ul.paymentType li:last-child {
    width: 33%;
    font-weight: 600;
    text-align: left;
}

.account-type {
    margin: 20px 0;
}

ol li div.account-type form {
    display: block;
    float: right;
    width: 85%;
}

ol li div.account-type form label {
    width: 33%;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
}

ol li div.account-type form input[type="radio"] {
    width: auto;
}

.date .smallInput {
    width: 30%;
}

.date .extraSmallInput {
    width: 10%;
}

footer {
    margin: 30px auto;
}

footer table tr td {
    font-size: 12px;
    vertical-align: initial;
    font-weight: 700;
}

footer .franchisee input {
    width: 90%;
    background-color: transparent;
    padding: 10px 0;
    margin: 5px 0;
}
