<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>  
    <add key="emailImapHost" value="imap.gmail.com" />
    <add key="emailImapPort" value="993" />
    <add key="emailSmtpHost" value="smtp.office365.com" />
    <add key="emailSmtpPort" value="587" />
    <add key="emailSmtpClientTimeOut" value="10000" />
    <add key="emailSmtpUsername" value="fms@janiking.com" />
    <add key="emailSmtpPassword" value="JK123JK!!" />
    <add key="emailFromName" value="Jani-King - Franchise Management System" />
    <add key="emailFrom" value="fms@janiking.com" />   
  </appSettings>
</configuration>
