
<!--Stage Status Navigation-->

<style>
    @@media (min-width: 768px) {
        .seven-cols .col-md-1,
        .seven-cols .col-sm-1,
        .seven-cols .col-lg-1 {
            width: 100%;
            *width: 100%;
        }
    }


    @@media (min-width: 992px) {
        .seven-cols .col-md-1,
        .seven-cols .col-sm-1,
        .seven-cols .col-lg-1 {
            width: 14.285714285714285714285714285714%;
            *width: 14.285714285714285714285714285714%;
        }
    }


    @@media (min-width: 1200px) {
        .seven-cols .col-md-1,
        .seven-cols .col-sm-1,
        .seven-cols .col-lg-1 {
            width: 14.285714285714285714285714285714%;
            *width: 14.285714285714285714285714285714%;
        }
    }
</style>

<div class="row row seven-cols">
    <div class="max-opp-stage-progress max-opp-stage-progress-line" style="margin-bottom:8px;">
        <div class="max-opp-stage-each">
            <div class="col-md-12">
                <div class="col-lg-2 col-md-3 col-sm-6" style="padding-left:0px;">
                    <div class="max-opp-stage-progress-list clsstag notifythefranchiseeowner ">
                        <div class="max-opp-stage-progress-link" style="text-align: center;">
                            <div class="max-opp-stage-progress-untouched">
                                <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Complaint Logged</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6" style="padding-left:0px;">
                    <div class="max-opp-stage-progress-list clsstag  contactthecustome">
                        <div class="max-opp-stage-progress-link" style="text-align: center;">
                            <div class="max-opp-stage-progress-untouched">
                                <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Actions/Follow-Up</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6" style="padding-left:0px;">
                    <div class="max-opp-stage-progress-list clsstag  inspecttheaccount">
                        <div class="max-opp-stage-progress-link" style="text-align: center;">
                            <div class="max-opp-stage-progress-untouched">
                                <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Follow-Up</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6" style="padding-left:0px;">
                    <div class="max-opp-stage-progress-list  clsstag  defectnotifytofranchisee">
                        <div class="max-opp-stage-progress-link" style="text-align: center;">
                            <div class="max-opp-stage-progress-untouched">
                                <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Completion/Closed</span>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-1 col-md-2 col-sm-6" style="padding-left:0px;">
        <div class="max-opp-stage-progress-list  clsstag letertothecustome">
            <div class="max-opp-stage-progress-link" style="text-align: center;">
                <div class="max-opp-stage-progress-untouched">
                    <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Leter to the <br />Custome</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-6" style="padding-left:0px;">
        <div class="max-opp-stage-progress-list clsstag  reinspecttheraccount">
            <div class="max-opp-stage-progress-link" style="text-align: center;">
                <div class="max-opp-stage-progress-untouched">
                    <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Re-Inspect the <br />Account</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-6" style="padding-left:0px;">
        <div class="max-opp-stage-progress-list  clsstag followupbackontrack">
            <div class="max-opp-stage-progress-link" style="text-align: center;">
                <div class="max-opp-stage-progress-untouched">
                    <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Follow-up <br />(Back on track)</span>
                </div>
            </div>
        </div>
    </div>*@
            </div>
        </div>
    </div>
</div>
