@{
    ViewBag.Title = "Bank Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <div class="clearfix"></div>

    <section class="col-md-12 col-md-push-0">
        <div class="portlet light ">
            <div class="portlet-body">
                <table class="table table-bordered">
                    <thead>
                        <tr style="background-color:#3aa6dd;">
                            <td style="border:none"></td>
                            <td colspan="2" style="border:none">
                                <div class="input-group">
                                    <input type="Search" placeholder="Search..." class="form-control" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-default btn-cons" style="background-color:white">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td style="border:none"></td>
                            <td style="border:none"></td>
                            <td style="border:none">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        This Month
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a javascript:void(0);>Test</a></li>
                                        <li><a javascript:void(0);>Test</a></li>
                                        <li><a javascript:void(0);>Test</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td style="border:none;">
                                @DateTime.Now.Date.ToShortDateString() - @DateTime.Now.Date.ToShortDateString()
                            </td>
                            <td style="border:none"></td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <th>Number</th>
                            <th>Description</th>
                            <th>Payee</th>
                            <th>Reference</th>
                            <th>Payment</th>
                            <th>Deposit</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="text-align:left">test</th>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                        </tr>
                        <tr>
                            <th style="text-align:left">test</th>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                        </tr>
                        <tr>
                            <th style="text-align:left">test</th>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                        </tr>
                        <tr>
                            <th style="text-align:left">test</th>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                            <td style="text-align:left">test</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






