
@{
    ViewBag.Title = "DROReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        tr > td {
            font-size: 12px !important;
            padding: 4px !important;
        }

        /*tr > th {
            font-size: 11px !important;
            text-transform: uppercase;
        }*/

        .row {
            margin: 0;
            padding: 5px 0;
        }

        .opendiv {
            padding: 4px;
            background-color: gold;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .closeddiv {
            padding: 4px;
            background-color: limegreen;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .overpaiddiv {
            padding: 4px;
            background-color: deepskyblue;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .overduediv {
            padding: 4px;
            background-color: orangered;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .btn {
            padding: 3px 12px;
            font-size: 12px;
        }
    </style>
}

@*<div class="custom-listbox" style="margin-top:4px;margin-bottom:3px;">*@
<div class="custom-form portlet light form-horizontal" style="max-width:740px;margin: 0px auto;padding:0;min-height: 100px;">
    <div class="headerbox">
        <div class="row" style="background-color: #3598DC;color: #fff;">
            <div class="col-md-12 no-padding">
                <div class="alignCenter">
                    <div class="col-md-12 text-center">
                       DRO Report
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="form-body" id="printDiv">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="col-md-12" style="text-align:center;margin-top: -15px;">
                            <h4><b>DRO Report</b></h4>
                        </div>
                        <div class="col-md-12" style="text-align:center;margin-top: -15px;">
                            <h4><b>JANI-KING OF BUFFALO, INC.</b></h4>
                        </div>
                        <div class="col-md-12" style="text-align:center;">
                            <b>Period: 11/2017</b>
                        </div>
                        <div class="col-md-12" style="text-align:center;padding-left: 0px;">
                            <b>Due Franchisee Checks: $316,788.75</b>
                        </div>
                        <div class="col-md-12" style="text-align:center;padding-left: 0px;">
                            <b>In-House: _______________________</b>
                        </div>
                    </div>
                    <div class="col-md-3"><img src="~/Images/janiking_logo.png" /></div>
                </div>
                <hr style="margin-bottom: 2px;margin-top: 2px;" />
                <div class="row">
                    <div class="col-md-12">
                        <table width="100%" cellspacing="0" cellpadding="0" style="border: none;">
                            <tr>
                                <td style="text-align:right;width:100px;">Acct Fee Rebate:</td>
                                <td style="text-align:left;width:100px;"></td>
                                <td style="text-align:right;">$1,227.13</td>
                                <td style="text-align:right;">Sales Tax:</td>
                                <td style="text-align:right;">$42,237.30</td>
                            </tr>
                            <tr>
                                <td style="text-align:right;">C/B Fees:</td>
                                <td style="text-align:left;border-bottom:1px solid Black;"></td>
                                <td style="text-align:right;">$12,068.92</td>
                                <td style="text-align:right;">Pagers:</td>
                                <td style="text-align:right;">$0.00</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;"></td>
                                <td style="text-align:center;">Date</td>
                                <td style="text-align:right;"></td>
                                <td style="text-align:right;">BPP/Bond:</td>
                                <td style="text-align:right;">$33,224.20</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:right;"></td>
                                <td style="text-align:right;">Advertising:</td>
                                <td style="text-align:right;">$6,688.69</td>
                            </tr>
                           <tr>
                               <td colspan="5"></td>
                           </tr>
                            <tr>
                                <td style="text-align:center;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:right;"></td>
                                <td style="text-align:right;">DUE REGIONAL OFFICE:</td>
                                <td style="text-align:right;">$98,418.99</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:right;"></td>
                                <td style="text-align:right;">NEGATIVE FRANCHISE:</td>
                                <td style="text-align:right;">$-983.42</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:right;"></td>
                                <td style="text-align:right;">BANK CHARGES:</td>
                                <td style="text-align:right;">$771.03</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;"></td>
                                <td style="text-align:left;"></td>
                                <td style="text-align:right;"></td>
                                <td style="text-align:right;">TOTAL DUE REGIONAL OFFICE:</td>
                                <td style="text-align:right;">$96,664.54</td>
                            </tr>
                        </table>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-md-12">
                        <table width="100%" cellspacing="0" cellpadding="0" style="border: none;">
                            <tr>
                                <td style="text-align:center;">Date: </td>
                                <td style="text-align:left;">12/11/2017</td>
                                <td style="text-align:center;">Amount Transferred:</td>
                                <td style="text-align:right;">$48,332.27</td>
                                <td style="text-align:right;">Balance:</td>
                                <td style="text-align:right;">$48,332.27</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">Date: </td>
                                <td style="text-align:left;">12/11/2017</td>
                                <td style="text-align:center;">Amount Transferred:</td>
                                <td style="text-align:right;">$48,332.27</td>
                                <td style="text-align:right;">Balance:</td>
                                <td style="text-align:right;">$48,332.27</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">Date: </td>
                                <td style="text-align:left;border-bottom:1px solid Black;"></td>
                                <td style="text-align:center;">Amount Transferred:</td>
                                <td style="text-align:right;border-bottom:1px solid Black;"></td>
                                <td style="text-align:right;">Balance:</td>
                                <td style="text-align:right;border-bottom:1px solid Black;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">Date: </td>
                                <td style="text-align:left;border-bottom:1px solid Black;"></td>
                                <td style="text-align:center;">Amount Transferred:</td>
                                <td style="text-align:right;border-bottom:1px solid Black;"></td>
                                <td style="text-align:right;">Balance:</td>
                                <td style="text-align:right;border-bottom:1px solid Black;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">Date: </td>
                                <td style="text-align:left;border-bottom:1px solid Black;"></td>
                                <td style="text-align:center;">Amount Transferred:</td>
                                <td style="text-align:right;border-bottom:1px solid Black;"></td>
                                <td style="text-align:right;">Balance:</td>
                                <td style="text-align:right;border-bottom:1px solid Black;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">Date: </td>
                                <td style="text-align:left;border-bottom:1px solid Black;"></td>
                                <td style="text-align:center;">Amount Transferred:</td>
                                <td style="text-align:right;border-bottom:1px solid Black;"></td>
                                <td style="text-align:right;">Balance:</td>
                                <td style="text-align:right;border-bottom:1px solid Black;"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button type="button" class="btn btn-primary button-next" onclick="printDiv()">Print <i class="fa fa-print"></i></button>
        </div>
        <div class="col-md-1 col-md-offset-9" style="padding-left: 30px;">
            <button type="button" class="btn btn-primary button-next" onclick="location.href='@Url.Action("ManagementReports", "Management", new { area = "Portal"})'">Back <i class="fa fa-backward"></i></button>
        </div>
    </div>
    <br />
</div>

@section scripts{
    <script type="text/javascript">
        function printDiv() {

            var divToPrint = document.getElementById('printDiv');

            var newWin = window.open('', 'Print-Window');

            newWin.document.open();

            newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

            newWin.document.close();

            setTimeout(function () { newWin.close(); }, 10);

        }
    </script>
}
