
@{
    ViewBag.Title = "FranchiessSupplyRecap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        tr > td {
            font-size: 12px !important;
            padding: 4px !important;
        }

        /*tr > th {
            font-size: 11px !important;
            text-transform: uppercase;
        }*/

        .row {
            margin: 0;
            padding: 5px 0;
        }

        .opendiv {
            padding: 4px;
            background-color: gold;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .closeddiv {
            padding: 4px;
            background-color: limegreen;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .overpaiddiv {
            padding: 4px;
            background-color: deepskyblue;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .overduediv {
            padding: 4px;
            background-color: orangered;
            text-align: center;
            font-weight: bold;
            color: #ffffff;
        }

        .btn {
            padding: 3px 12px;
            font-size: 12px;
        }
    </style>
}

@*<div class="custom-listbox" style="margin-top:4px;margin-bottom:3px;">*@
<div class="custom-form portlet light form-horizontal" style="max-width:740px;margin: 0px auto;padding:0;min-height: 100px;">
    <div class="headerbox">
        <div class="row" style="background-color: #3598DC;color: #fff;">
            <div class="col-md-12 no-padding">
                <div class="alignCenter">
                    <div class="col-md-12 text-center">
                        Franchiess Supply Recap Report
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet-body form">
        <div class="form-body" id="printDiv">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="col-md-12" style="text-align:center;">
                            <h4><b>JANI-KING OF BUFFALO, INC</b></h4>
                        </div>
                        <div class="col-md-12" style="text-align:center;">
                            <b>Franchisee Report Supply Recap for JANUARY 2018</b>
                        </div>
                    </div>
                    <div class="col-md-3"><img src="~/Images/janiking_logo.png" /></div>
                </div>
                <hr style="margin-bottom: 2px;margin-top: 2px;" />
                <div class="row">
                    <div class="col-md-12">
                        <table width="100%" cellspacing="0" cellpadding="0" style="border: none;">
                            <tr style="border-bottom: 1px solid black;">
                                <td style="text-align:center;">Franchisee</td>
                                <td style="text-align:center;">Invoice Description</td>
                                <td style="text-align:center;">Trx Date</td>
                                <td style="text-align:center;">Trx Amount</td>
                                <td style="text-align:center;">Tax Amount</td>
                                <td style="text-align:center;">Total</td>
                            </tr>
                            <tr>
                                <td colspan="6" style="text-align:left;"><b>701011-KMBURNS,LLC</b></td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;ADMAR SUPPLY CO INC - 1886353-0002</td>
                                <td style="text-align:center;">11/04/17</td>
                                <td style="text-align:center;">286.80</td>
                                <td style="text-align:center;">0.00</td>
                                <td style="text-align:center;">286.80</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;ADMAR SUPPLY CO INC - 1886353-0002</td>
                                <td style="text-align:center;">11/04/17</td>
                                <td style="text-align:center;">2545.80</td>
                                <td style="text-align:center;">222.69</td>
                                <td style="text-align:center;">2767.69</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;UNITED RENTALS(NORTH AMERICA) - 126886353-0004</td>
                                <td style="text-align:center;">12/13/17</td>
                                <td style="text-align:center;">93.90</td>
                                <td style="text-align:center;">0.00</td>
                                <td style="text-align:center;">93.90</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;DOBMEIER JANITORIAL SUPPLY LLC - 752777</td>
                                <td style="text-align:center;">1/15/18</td>
                                <td style="text-align:center;">143.41</td>
                                <td style="text-align:center;">12.55</td>
                                <td style="text-align:center;">155.96</td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;UNITED RENTALS(NORTH AMERICA) - 126886353-0004</td>
                                <td style="text-align:center;">12/20/2018</td>
                                <td style="text-align:center;">2995.00</td>
                                <td style="text-align:center;">0.00</td>
                                <td style="text-align:center;">93.90</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;"></td>
                                <td style="text-align:right;border-top:1px solid black;border-bottom:1px solid black;border-left:1px solid black;"><b>Franchisee Total:</b></td>
                                <td style="text-align:center;border-top:1px solid black;border-bottom:1px solid black;"></td>
                                <td style="text-align:center;border-top:1px solid black;border-bottom:1px solid black;">6064.01</td>
                                <td style="text-align:center;border-top:1px solid black;border-bottom:1px solid black;">235.24</td>
                                <td style="text-align:center;border-top:1px solid black;border-bottom:1px solid black;border-right:1px solid black;">6299.25</td>
                            </tr>
                            <tr>
                                <td colspan="6" style="text-align:left;"><b>701013-JIM DEVORE & ASSOCIATES, LLC</b></td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp; JANITORIAL SUPPLY INC - 753250</td>
                                <td style="text-align:center;">1/23/2018</td>
                                <td style="text-align:center;">124.06</td>
                                <td style="text-align:center;">10.86</td>
                                <td style="text-align:center;">134.92</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;"></td>
                                <td  style="text-align:right;border-top:1px solid black;border-bottom:1px solid black;border-left:1px solid black;"><b>Franchisee Total:</b></td>
                                <td style="text-align:center;border-top:1px solid black;border-bottom:1px solid black;"></td>
                                <td style="text-align:center;border-top:1px solid black;border-bottom:1px solid black;">124.06</td>
                                <td style="text-align:center;border-top:1px solid black;border-bottom:1px solid black;">10.86</td>
                                <td style="text-align:center;border-top:1px solid black;border-bottom:1px solid black;border-right:1px solid black;">134.92</td>
                            </tr>
                            <tr>
                                <td colspan="6" style="text-align:left;"><b>701059 BOB J.GATES</b></td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp; JANITORIAL SUPPLY INC - 753251</td>
                                <td style="text-align:center;">1/23/2018</td>
                                <td style="text-align:center;">42.95</td>
                                <td style="text-align:center;">3.76</td>
                                <td style="text-align:center;">46.71</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;"></td>
                                <td  style="text-align:right;border-top:1px solid black;border-bottom:1px solid black;border-left:1px solid black;"><b>Franchisee Total:</b></td>
                                <td style="text-align:center;border-top:1px solid black;border-bottom:1px solid black;"></td>
                                <td style="text-align:center;border-top:1px solid black;border-bottom:1px solid black;">42.95</td>
                                <td style="text-align:center;border-top:1px solid black;border-bottom:1px solid black;">3.76</td>
                                <td style="text-align:center;border-top:1px solid black;border-bottom:1px solid black;border-right:1px solid black;">46.71</td>
                            </tr>
                            <tr>
                                <td colspan="6" style="text-align:right;"></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;"></td>
                                <td style="text-align:right; border-top:1px solid black;border-bottom:1px solid black;border-left:1px solid black;"><b>Report Total:</b></td>
                                <td style="text-align:center;border-top:1px solid black;border-bottom:1px solid black;"></td>
                                <td style="text-align:center;border-top:1px solid black;border-bottom:1px solid black;">6188.07</td>
                                <td style="text-align:center;border-top:1px solid black;border-bottom:1px solid black;">246.10</td>
                                <td style="text-align:center;border-top:1px solid black;border-bottom:1px solid black;border-right:1px solid black;">6434.17</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button type="button" class="btn btn-primary button-next" onclick="printDiv()">Print <i class="fa fa-print"></i></button>
        </div>
        <div class="col-md-1 col-md-offset-9" style="padding-left: 30px;">
            <button type="button" class="btn btn-primary button-next" onclick="location.href='@Url.Action("ManagementReports", "Management", new { area = "Portal"})'">Back <i class="fa fa-backward"></i></button>
        </div>
    </div>
    <br />
</div>

@section scripts{
    <script type="text/javascript">
        function printDiv() {

            var divToPrint = document.getElementById('printDiv');

            var newWin = window.open('', 'Print-Window');

            newWin.document.open();

            newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

            newWin.document.close();

            setTimeout(function () { newWin.close(); }, 10);

        }
    </script>
}