.portlet {
    box-shadow: 0 0 0 1px #000000, 0 1px 2px #000000;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.2);
}

.portlet-top {
    margin-top: -20px;
}

th {
    text-transform: uppercase;
}

.mt-activitytitle {
    margin: 0 8px 10px;
    font-weight: bold;
}

.mt-Note-text {
    color: #4e4b4b;
}

.mt-activitywith {
    color: #337ab7;
    font-weight: bold;
}

.mt-date-text {
    color: #337ab7;
    font-weight: bold;
    margin-top: 0px;
}

.mt-title {
    font-weight: bold;
}

.mt-scheduletime {
    color: #337ab7;
}

.mt-schedule-monthSpace {
    margin-top: -10px;
}

.mt-picker-top {
    padding-top: 4px;
    padding-bottom: 4px;
}

.reference-label {
    padding-left: 0;
}

.badge-status {
    color: #337ab7;
}

.space-note {
    padding-bottom: 10px;
}

/*.div-right {
            height: 740px;
        }*/

.max-opp-stage-progress-line {
    background: #fff none repeat scroll 0 0;
    color: #333;
}

.max-opp-stage-progress-untouched {
    display: table;
    height: 33px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.max-opp-stage-untouched {
    display: table-cell !important;
}

.max-opp-stage-progress-line .max-opp-stage-progress-link {
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff, #ffffff);
    border-color: #c7c7c7;
    color: #767676;
}

    .max-opp-stage-progress-line .max-opp-stage-progress-link::before {
        background-color: #ffffff;
        background-image: linear-gradient(135deg, #ffffff, #ffffff);
        border-color: #c7c7c7;
        box-shadow: none;
    }

.max-opp-stage-progress-line .max-opp-stage-progress-line-hover .max-opp-stage-progress-link {
    background-color: #0090a9;
    background-image: linear-gradient(#00a9c7, #0090a9);
    border-color: #0090a9;
    color: #fff;
}

    .max-opp-stage-progress-line .max-opp-stage-progress-line-hover .max-opp-stage-progress-link::before {
        background-color: #0090a9;
        background-image: linear-gradient(135deg, #00a9c7, #0090a9);
        border-color: #0090a9;
    }

.max-opp-stage-progress-line .max-opp-stage-selected .max-opp-stage-progress-link {
    background-color: #14afca;
    background-image: linear-gradient(#14afca, #14afca);
    border-color: #1193aa;
    color: #fff;
}

.max-opp-stage-progress-line .max-opp-stage-touched .max-opp-stage-progress-link {
    background-color: #DCDCDC;
    background-image: linear-gradient(#DCDCDC, #DCDCDC);
    border-color: #DDDDDD;
    color: #767676;
}

.max-opp-stage-progress-line .max-opp-stage-selected .max-opp-stage-progress-link::before {
    background-color: #14afca;
    background-image: linear-gradient(135deg, #14afca, #14afca);
    border-color: #1193aa;
}

.max-opp-stage-progress-line .max-opp-stage-touched .max-opp-stage-progress-link::before {
    background-color: #DCDCDC;
    background-image: linear-gradient(135deg, #DCDCDC, #DCDCDC);
    border-color: #DDDDDD;
}

.max-opp-stage-progress-line.max-opp-stage-progress-horizontal .max-opp-stage-first .max-opp-stage-progress-link {
    border-radius: 0.25em 0 0 0.25em;
}

.max-opp-stage-progress-line.max-opp-stage-progress-horizontal .max-opp-stage-last .max-opp-stage-progress-link {
    border-radius: 0 0.25em 0.25em 0;
}

.max-opp-stage-progress-line.max-opp-stage-progress-horizontal .max-opp-stage-first.max-opp-stage-last .max-opp-stage-progress-link {
    border-radius: 3px;
}

.max-opp-stage-progress-line.max-opp-stage-progress-rtl.max-opp-stage-progress-horizontal .max-opp-stage-progress-link::after {
    border-radius: 0 100px 0 0;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
    left: -0.85em;
    margin-top: -0.7em;
    right: auto;
}

.max-opp-stage-progress {
    box-sizing: border-box;
    line-height: 1.42857;
    min-width: 20.8333em;
    position: relative;
}

    .max-opp-stage-progress::after {
        clear: both;
        content: "";
        display: block;
    }

    .max-opp-stage-progress .max-opp-stage-each {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .max-opp-stage-progress .max-opp-stage-progress-hidden {
        display: none !important;
    }

    .max-opp-stage-progress .max-opp-stage-progress-link {
        cursor: default;
    }

    .max-opp-stage-progress .max-opp-stage-each {
        overflow: hidden;
    }

        .max-opp-stage-progress .max-opp-stage-each .max-opp-stage-progress-link {
            border-style: solid;
            border-width: 1px;
            display: block;
            outline: 0 none;
            padding: 0 1.07143em;
            position: relative;
            text-decoration: none;
            white-space: nowrap;
        }

            .max-opp-stage-progress .max-opp-stage-each .max-opp-stage-progress-link::before {
                border-radius: 0 0 0 100px;
                border-style: solid;
                border-width: 1px 1px 0 0;
                content: "";
                height: 1.81em;
                margin-top: -0.85em;
                position: absolute;
                right: -0.90em;
                top: 50%;
                transform: rotate(45deg) skew(15deg, 15deg);
                width: 1.81em;
                z-index: 3;
            }

        .max-opp-stage-progress .max-opp-stage-each .max-opp-stagg-info {
            display: inline-block;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
        }


.max-opp-stage-progress-horizontal .max-opp-stage-each {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 15px;
}

.max-opp-stage-progress-horizontal .max-opp-stage-progress-list {
    display: table-cell;
    vertical-align: middle;
}

.max-opp-stage-progress-horizontal .max-opp-stage-progress-link {
    margin-left: -1px;
}
