 <!--Stage Status Navigation-->
<div class="row">
    <div class="max-opp-stage-progress max-opp-stage-progress-line" style="margin-bottom:8px;">
        <div class="max-opp-stage-each">
            <div class="col-md-12">
                <!--Lead Generation -->
                <div class="col-lg-2 col-md-6 col-sm-6" style="padding-left:0px;">
                    <div class="max-opp-stage-progress-list leadgeneration">
                        <div class="max-opp-stage-progress-link" style="text-align: center;">
                            <div class="max-opp-stage-progress-untouched">
                                <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Lead Generation</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Potential -->
                <div class="col-lg-2 col-md-6 col-sm-6" style="padding-left:0px;">
                    <div class="max-opp-stage-progress-list potential">
                        <div class="max-opp-stage-progress-link" style="text-align: center;">
                            <div class="max-opp-stage-progress-untouched">
                                <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Potential/Inquary</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Franchise Contract -->
                <div class="col-lg-2 col-md-4 col-sm-6" style="padding-left:0px;">
                    <div class="max-opp-stage-progress-list franchise-contract">
                        <div class="max-opp-stage-progress-link" style="text-align: center;">
                            <div class="max-opp-stage-progress-untouched">
                                <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Franchise Contract</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Follow-Up -->
                <div class="col-lg-2 col-md-4 col-sm-6" style="padding-left:0px;">
                    <div class="max-opp-stage-progress-list follow-up">
                        <div class="max-opp-stage-progress-link" style="text-align: center;">
                            <div class="max-opp-stage-progress-untouched">
                                <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Follow-Up</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Sign Agreement -->
                <div class="col-lg-2 col-md-4 col-sm-6" style="padding-left:0px;">
                    <div class="max-opp-stage-progress-list sign-agreement">
                        <div class="max-opp-stage-progress-link" style="text-align: center;">
                            <div class="max-opp-stage-progress-untouched">
                                <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Sign Agreement</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Sold To Legal -->
                <div class="col-lg-2 col-md-4 col-sm-6" style="padding-left:0px;">
                    <div class="max-opp-stage-progress-list soldtolegal">
                        <div class="max-opp-stage-progress-link" style="text-align: center;">
                            <div class="max-opp-stage-progress-untouched">
                                <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Sold To Legal</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
