
<!--Stage Status Navigation-->
<div class="row">
    <div class="max-opp-stage-progress max-opp-stage-progress-line" style="margin-bottom:8px;">
        <div class="max-opp-stage-each">
            <div class="col-md-12">
                <div class="max-opp-stage-progress-list col-lg-2 col-md-4 col-sm-6" style="padding-left:0px;" id="leadhistory_InitialCommunication">
                    <div class="max-opp-stage-progress-link" style="text-align: center;">
                        <div class="max-opp-stage-progress-untouched">
                            <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Initial Communication</span>
                        </div>
                    </div>
                </div>
                <div class="max-opp-stage-progress-list col-lg-2 col-md-4 col-sm-6" style="padding-left:0px;" id="leadhistory_NeedAssessment">
                    <div class="max-opp-stage-progress-link" style="text-align: center;">
                        <div class="max-opp-stage-progress-untouched">
                            <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Need Assessment</span>
                        </div>
                    </div>
                </div>
                <div class="max-opp-stage-progress-list col-lg-2 col-md-4 col-sm-6" style="padding-left:0px;" id="leadhistory_Prestentation">
                    <div class="max-opp-stage-progress-link" style="text-align: center;">
                        <div class="max-opp-stage-progress-untouched">
                            <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Prestentation</span>
                        </div>
                    </div>
                </div>
                <div class="max-opp-stage-progress-list col-lg-2 col-md-4 col-sm-6" style="padding-left:0px;" id="leadhistory_Negotiation">
                    <div class="max-opp-stage-progress-link" style="text-align: center;">
                        <div class="max-opp-stage-progress-untouched">
                            <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Negotiation</span>
                        </div>
                    </div>
                </div>
                <div class="max-opp-stage-progress-list col-lg-2 col-md-4 col-sm-6" style="padding-left:0px;" id="leadhistory_CommittoBuy">
                    <div class="max-opp-stage-progress-link" style="text-align: center;">
                        <div class="max-opp-stage-progress-untouched">
                            <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Commit to Buy</span>
                        </div>
                    </div>
                </div>
                <div class="max-opp-stage-progress-list col-lg-2 col-md-4 col-sm-6" style="padding-left:0px;" id="leadhistory_Potential">
                    <div class="max-opp-stage-progress-link" style="text-align: center;">
                        <div class="max-opp-stage-progress-untouched">
                            <span class="max-opp-stagg-info max-opp-stage-untouched max-opp-stage-info-header">Potential</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>