@using System.Configuration 
 <!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        2017 &copy;  By
        <a target="_blank" href="">JaniKing</a> &nbsp;|&nbsp;
        <a href="" title="" target="_blank">JaniKing</a>
    </div>
    <!-- END FOOTER --> 
</div>