
@{
    ViewBag.Title = "AppResultsAnalysisResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" role="form" id="form_CustomerReport" action="" method="post">
    <div class="custom-form portlet light">
        <div class="headerbox">
            <div class="row">
                <div class="col-md-12 text-center">
                    First Visit Appointment Results Analysis Report<br />
                    For 1/14/2018
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover order-column" cellSpacing=1 cellPadding=1 border=0 style="margin-top:0 !important;" id="tblcall">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th colspan="2" style="text-align:center;">Scheduled a Proposal Delivery</th>
                                            <th colspan="2" style="text-align:center;">Schedule a Call Back</th>
                                            <th colspan="2" style="text-align:center;">Signed Contract</th>
                                            <th colspan="2" style="text-align:center;">Contact Not Available</th>
                                            <th colspan="2" style="text-align:center;">JK Rep Missed Appt.</th>
                                            <th colspan="2" style="text-align:center;">Not Qualified by JK Rep</th>
                                            <th colspan="2" style="text-align:center;">Re-Scheduled by Contact</th>
                                            <th colspan="2" style="text-align:center;">Re-scheduled by JK Rep</th>
                                            <th colspan="2" style="text-align:center;">Appt. Cancelled</th>
                                            <th colspan="2" style="text-align:center;">Other</th>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th style="text-align:center;">Region</th>
                                            <th style="text-align:center;">Total FV Appts</th>
                                            <th style="text-align:center;">Results Not Entered</th>
                                            <th style="text-align:center;">Count</th>
                                            <th style="text-align:center;">Pct.</th>
                                            <th style="text-align:center;">Count</th>
                                            <th style="text-align:center;">Pct.</th>
                                            <th style="text-align:center;">Count</th>
                                            <th style="text-align:center;">Pct.</th>
                                            <th style="text-align:center;">Count</th>
                                            <th style="text-align:center;">Pct.</th>
                                            <th style="text-align:center;">Count</th>
                                            <th style="text-align:center;">Pct.</th>
                                            <th style="text-align:center;">Count</th>
                                            <th style="text-align:center;">Pct.</th>
                                            <th style="text-align:center;">Count</th>
                                            <th style="text-align:center;">Pct.</th>
                                            <th style="text-align:center;">Count</th>
                                            <th style="text-align:center;">Pct.</th>
                                            <th style="text-align:center;">Count</th>
                                            <th style="text-align:center;">Pct.</th>
                                            <th style="text-align:center;">Count</th>
                                            <th style="text-align:center;">Pct.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><i></i></td>
                                            <td style="text-align:center;">Buffalo</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr style="background: #95a5a6;color: white;">
                                            <td></td>
                                            <td style="text-align:center;">Totals</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script>
        jQuery(document).ready(function () {
            $('#tblcall').dataTable({
                "bAutoWidth": false,
                "bSort": false,
                "order": true,
                "iDisplayLength": 25,
                "aLengthMenu": [[5, 7, 10, 25, 50, -1], [5, 7, 10, 25, 50, "All"]],
                "dom": "<'table-responsive't><'bottom'ip><'clear'>",
                "aaSorting": [[0, "desc"]],
            });
        });
    </script>
}