
@{
    ViewBag.Title = "CallLogSummaryReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .listHeader {
        background: #d2cdcd;
    }
</style>
<form class="form-horizontal" role="form" id="form_CustomerReport" action="" method="post">
    <div class="custom-form portlet light">
        <div class="headerbox">
            <div class="row">
                <div class="col-md-12 text-center">
                    Call Log Summary<br />
                    From 1/1/2017 to 12/31/2017
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered order-column" id="CustomerList" cellSpacing=1 cellPadding=1 style="margin-top:0 !important;">
                                    <thead>
                                        <tr>
                                            <td vAlign=bottom colSpan=21 align=left><font color=red><b>*</b></font>Inactive users</td>
                                        <tr class=listHeader>
                                            <td></td>
                                            <td noWrap align=center><font color=red>*</font>Charity Leonard<br>CC-TM</td>
                                            <td noWrap align=center><font color=red>*</font>Constance Kagoro<br>CC-TM</td>
                                            <td noWrap align=center><font color=red>*</font>Darrell Whitley<br>CC-TM</td>
                                            <td noWrap align=center><font color=red>*</font>Holly Matney<br>CC-TM</td>
                                            <td noWrap align=center><font color=red>*</font>Joyce Echeozo<br>CC-TM</td>
                                            <td noWrap align=center><font color=red>*</font>Karen Tapley<br>CC-TM</td>
                                            <td noWrap align=center><font color=red>*</font>Kristina Watts<br>CC-TM</td>
                                            <td noWrap align=center><font color=red>*</font>LaKeya Anderson<br>CC-TM</td>
                                            <td noWrap align=center><font color=red>*</font>LaTorrie White<br>CC-TM</td>
                                            <td noWrap align=center><font color=red>*</font>Latrice B Kilpatrick<br>CC-TM</td>
                                            <td noWrap align=center><font color=red>*</font>Lonnie Shields<br>CC-TM</td>
                                            <td noWrap align=center><font color=red>*</font>Porschia Roney<br>CC-TM</td>
                                            <td noWrap align=center><font color=red>*</font>Quin McCray<br>CC-TM</td>
                                            <td noWrap align=center><font color=red>*</font>Raylene Scribner<br>CC-TM</td>
                                            <td noWrap align=center><font color=red>*</font>Sharon Bryant<br>CC-TM</td>
                                            <td noWrap align=center><font color=red>*</font>Shaye Hendrix<br>CC-TM</td>
                                            <td noWrap align=center><font color=red>*</font>Simone Anderson5<br>CC-TM</td>
                                            <td noWrap align=center><font color=red>*</font>Leah Ross-TM<br>Telemarketer</td>
                                            <td noWrap align=center>Rosamond Scoma<br>Inside Sales</td>
                                            <td class=row1 noWrap align=center>Total<br>Totals</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td noWrap class=listHeader>Appointment</td>
                                            <td noWrap align=center>21</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>2</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>6</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>2</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>9</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>6</td>
                                            <td noWrap align=center>165</td>
                                            <td noWrap align=center>234</td>
                                        </tr>
                                        <tr>
                                            <td noWrap class=listHeader>Cancelled Appointment</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>2</td>
                                        </tr>
                                        <tr>
                                            <td noWrap class=listHeader>Busy</td>
                                            <td noWrap align=center>109</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>74</td>
                                            <td noWrap align=center>14</td>
                                            <td noWrap align=center>30</td>
                                            <td noWrap align=center>6</td>
                                            <td noWrap align=center>2</td>
                                            <td noWrap align=center>92</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>4</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>13</td>
                                            <td noWrap align=center>3</td>
                                            <td noWrap align=center>35</td>
                                            <td noWrap align=center>15</td>
                                            <td noWrap align=center>21</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>129</td>
                                            <td noWrap align=center>485</td>
                                            <td noWrap align=center>1,032</td>
                                        </tr>
                                        <tr>
                                            <td noWrap class=listHeader>Call Backs</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>98</td>
                                            <td noWrap align=center>2,727</td>
                                            <td noWrap align=center>28,26</td>
                                        </tr>
                                        <tr>
                                            <td noWrap class=listHeader>Contacted</td>
                                            <td noWrap align=center>31</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>46</td>
                                            <td noWrap align=center>22</td>
                                            <td noWrap align=center>15</td>
                                            <td noWrap align=center>6</td>
                                            <td noWrap align=center>4</td>
                                            <td noWrap align=center>103</td>
                                            <td noWrap align=center>2</td>
                                            <td noWrap align=center>3</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>5</td>
                                            <td noWrap align=center>2</td>
                                            <td noWrap align=center>60</td>
                                            <td noWrap align=center>6</td>
                                            <td noWrap align=center>11</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>348</td>
                                            <td noWrap align=center>1,402</td>
                                            <td noWrap align=center>2,066</td>
                                        </tr>
                                        <tr>
                                            <td noWrap class=listHeader>Left Message</td>
                                            <td noWrap align=center>278</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>85</td>
                                            <td noWrap align=center>38</td>
                                            <td noWrap align=center>182</td>
                                            <td noWrap align=center>35</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>293</td>
                                            <td noWrap align=center>75</td>
                                            <td noWrap align=center>66</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>439</td>
                                            <td noWrap align=center>2,263</td>
                                            <td noWrap align=center>3,746</td>
                                        </tr>
                                        <tr>
                                            <td noWrap class=listHeader>Letter Sent</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>2</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>5</td>
                                            <td noWrap align=center>223</td>
                                            <td noWrap align=center>234</td>
                                        </tr>
                                        <tr>
                                            <td noWrap class=listHeader>No Answer</td>
                                            <td noWrap align=center>3,341</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>607</td>
                                            <td noWrap align=center>164</td>
                                            <td noWrap align=center>234</td>
                                            <td noWrap align=center>52</td>
                                            <td noWrap align=center>50</td>
                                            <td noWrap align=center>2,250</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>72</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>206</td>
                                            <td noWrap align=center>48</td>
                                            <td noWrap align=center>3</td>
                                            <td noWrap align=center>113</td>
                                            <td noWrap align=center>172</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1,039</td>
                                            <td noWrap align=center>4,648</td>
                                            <td noWrap align=center>13,000</td>
                                        </tr>
                                        <tr>
                                            <td noWrap class=listHeader>Not Qualified</td>
                                            <td noWrap align=center>730</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>49</td>
                                            <td noWrap align=center>33</td>
                                            <td noWrap align=center>112</td>
                                            <td noWrap align=center>17</td>
                                            <td noWrap align=center>17</td>
                                            <td noWrap align=center>54</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>17</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>28</td>
                                            <td noWrap align=center>4</td>
                                            <td noWrap align=center>899</td>
                                            <td noWrap align=center>62</td>
                                            <td noWrap align=center>38</td>
                                            <td noWrap align=center>2</td>
                                            <td noWrap align=center>227</td>
                                            <td noWrap align=center>1,011</td>
                                            <td noWrap align=center>3,298</td>
                                        </tr>
                                        <tr>
                                            <td noWrap class=listHeader>Previous Customer</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>6</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>12</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>6</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>28</td>
                                        </tr>
                                        <tr>
                                            <td noWrap class=listHeader>Referred to Ops</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1</td>
                                        </tr>
                                        <tr>
                                            <td noWrap class=listHeader>Turn Down Letter</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                        </tr>
                                        <tr>
                                            <td noWrap class=listHeader>Wrong Number</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>5</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>2</td>
                                            <td noWrap align=center>89</td>
                                            <td noWrap align=center>99</td>
                                        </tr>
                                        <tr>
                                            <td noWrap class=listHeader>Other</td>
                                            <td noWrap align=center>460</td>
                                            <td noWrap align=center>3</td>
                                            <td noWrap align=center>580</td>
                                            <td noWrap align=center>91</td>
                                            <td noWrap align=center>167</td>
                                            <td noWrap align=center>21</td>
                                            <td noWrap align=center>48</td>
                                            <td noWrap align=center>497</td>
                                            <td noWrap align=center>4</td>
                                            <td noWrap align=center>37</td>
                                            <td noWrap align=center>3</td>
                                            <td noWrap align=center>88</td>
                                            <td noWrap align=center>15</td>
                                            <td noWrap align=center>1,715</td>
                                            <td noWrap align=center>20</td>
                                            <td noWrap align=center>133</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>319</td>
                                            <td noWrap align=center>2,687</td>
                                            <td noWrap align=center>6,889</td>
                                        </tr>
                                        <tr>
                                            <td noWrap class=listHeader>FV Result</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>1</td>
                                            <td noWrap align=center>1</td>
                                        </tr>
                                        <tr>
                                            <td noWrap class=listHeader>PD Result</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                        </tr>
                                        <tr>
                                            <td noWrap class=listHeader>End Sale Cycle</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                        </tr>
                                        <tr class=listHeader>
                                            <td noWrap>Total Calls</td>
                                            <td noWrap align=center>4971</td>
                                            <td noWrap align=center>3</td>
                                            <td noWrap align=center>1,445</td>
                                            <td noWrap align=center>352</td>
                                            <td noWrap align=center>743</td>
                                            <td noWrap align=center>138</td>
                                            <td noWrap align=center>128</td>
                                            <td noWrap align=center>3,008</td>
                                            <td noWrap align=center>7</td>
                                            <td noWrap align=center>133</td>
                                            <td noWrap align=center>5</td>
                                            <td noWrap align=center>345</td>
                                            <td noWrap align=center>72</td>
                                            <td noWrap align=center>3,098</td>
                                            <td noWrap align=center>292</td>
                                            <td noWrap align=center>442</td>
                                            <td noWrap align=center>4</td>
                                            <td noWrap align=center>2,618</td>
                                            <td noWrap align=center>15,722</td>
                                            <td noWrap align=center>33,456</td>
                                        </tr>
                                        <tr class=listHeader>
                                            <td noWrap>Leads Entered</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>0</td>
                                            <td noWrap align=center>9</td>
                                            <td noWrap align=center>164</td>
                                            <td noWrap align=center>174</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>