
@{
    ViewBag.Title = "CustomerLeadSourceReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form class="form-horizontal" role="form" id="form_CustomerReport" action="" method="post">
    <div class="custom-form portlet light">
        <div class="headerbox">
            <div class="row">
                <div class="col-md-12 text-center">
                    Customer Lead Source Report<br />
                    Date Range 12/31/2017 to 1/6/2018
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover order-column" cellSpacing=1 cellPadding=1 border=0 style="margin-top:0 !important;" id="tblcall">
                                    <thead>
                                        <tr>
                                            <th colspan="4" style="text-align:center;">Buffalo</th>
                                        </tr>
                                        <tr>
                                            <th style="text-align:center;">Source</th>
                                            <th style="text-align:center;">Calls</th>
                                            <th style="text-align:center;">Appointments</th>
                                            <th style="text-align:center;">Appt. Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="text-align:center;">Cold Call</td>
                                            <td style="text-align:center;">60</td>
                                            <td style="text-align:center;">1</td>
                                            <td style="text-align:center;">1.7%</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center;">BizList</td>
                                            <td style="text-align:center;">8</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0%</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center;">Hoovers</td>
                                            <td style="text-align:center;">8</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0%</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center;">Telemarketing</td>
                                            <td style="text-align:center;">3</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0%</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center;">janiking.com</td>
                                            <td style="text-align:center;">2</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0%</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center;">Franchise Accounting</td>
                                            <td style="text-align:center;">1</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0%</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center;">Referral</td>
                                            <td style="text-align:center;">1</td>
                                            <td style="text-align:center;">1</td>
                                            <td style="text-align:center;">100.0%</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center;">Yellow Pages</td>
                                            <td style="text-align:center;">1</td>
                                            <td style="text-align:center;">0</td>
                                            <td style="text-align:center;">0.0%</td>
                                        </tr>

                                    </tbody>
                                    <tfoot>
                                        <tr style="background: #95a5a6;color: white;">
                                            <td style="text-align:center;">Totals</td>
                                            <td style="text-align:center;">84</td>
                                            <td style="text-align:center;">2</td>
                                            <td style="text-align:center;">2.4%</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts{
    <script>
        jQuery(document).ready(function () {
            $('#tblcall').dataTable({
                "bAutoWidth": false,
                "bSort": false,
                "order": true,
                "iDisplayLength": 25,
                "aLengthMenu": [[5, 7, 10, 25, 50, -1], [5, 7, 10, 25, 50, "All"]],
                "dom": "<'table-responsive't><'bottom'ip><'clear'>",
                "aaSorting": [[0, "desc"]],
            });
        });
    </script>
}