
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" role="form" id="form_CustomerReport" action="" method="post">
    <div class="custom-form portlet light">
        <div class="headerbox">
            <div class="row">
                <div class="col-md-12 text-center">
                    CUSTOMER SALES REPORTS
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/SearchAppointmentResult" style="font-size: 15px;">Appointment Result</a>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/LeadsEntered" style="font-size: 15px;">Leads Entered</a>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/ProposalsDeliveredContractSales" style="font-size: 15px;">Proposals Delivered/Contract Sales </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/SearchAppResultsAnalysis" style="font-size: 15px;">Appointment Result Analysis</a>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/LeadSourceAnalysis" style="font-size: 15px;">Lead Source Analysis </a>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/MultiTelemarketerProduction" style="font-size: 15px;">Telemarketer Production </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/AppointmentStats" style="font-size: 15px;">FV/PD Appointment Status</a>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/LeadSourceByBudget" style="font-size: 15px;">Lead Source By Budget</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/CallBacksPending" style="font-size: 15px;">Call Back Pending</a>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/NotQualified" style="font-size: 15px;">Not Qualified</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/CallLog" style="font-size: 15px;">Call Log</a>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/OfficePerformance" style="font-size: 15px;">Office Performance Result</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/CallLogSummary" style="font-size: 15px;">Call Log Summary</a>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/ProposalsDeliveredContract" style="font-size: 15px;">Proposals Delivered/Contract Sales</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/CallStatistics" style="font-size: 15px;">Call Statistics</a>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/SalesPortfolioRecap" style="font-size: 15px;">Source Portfolio Recap</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/ColdCallStatistics" style="font-size: 15px;">Cold Call Statistics</a>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/CustomerLeadSource" style="font-size: 15px;">Sales Statistics</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/GoalsResultsAnalysis" style="font-size: 15px;">Goals/Results Analysis</a>
                            </div>
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/TelemarketerProduction" style="font-size: 15px;">Telemarketer Production</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <i class="fa fa-file" style="padding-right: 10px;"></i><a href="/CRM/CRMReport/InactiveAppointments" style="font-size: 15px;">Inactive Appointments</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
