
@{
    ViewBag.Title = "LeadSourceAnalReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" role="form" id="form_CustomerReport" action="" method="post">
    <div class="custom-form portlet light">
        <div class="headerbox">
            <div class="row">
                <div class="col-md-12 text-center">
                    Lead Source Analysis 
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover order-column" cellSpacing=1 cellPadding=1 border=0 style="margin-top:0 !important;" id="tblcall">
                                    <thead>
                                   
                                        <tr>
                                            <td noWrap align=center>Region</td>
                                            <td noWrap align=center>Total Active Leads</td>
                                            <td  noWrap align=center>Source</td>
                                            <td  noWrap align=center>%</td>
                                            <td  noWrap align=center>Source</td>
                                            <td noWrap align=center>%</td>
                                            <td  noWrap align=center>Source</td>
                                            <td noWrap align=center>%</td>
                                            <td  noWrap align=center>Source</td>
                                            <td  noWrap align=center>%</td>
                                            <td  noWrap align=center>Source</td>
                                            <td noWrap align=center>%</td>
                                            <td noWrap align=center>Totals</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align=center>Buffalo</td>
                                            <td align=center>22,585</td>
                                            <td align=center>BizList </td>
                                            <td align=right> 44%  9,876</td>
                                            <td align=center>Cold Call </td>
                                            <td align=right>34%   7,645</td>
                                            <td align=center>Hoovers </td>
                                            <td align=right> 11%  2,416</td>
                                            <td align=center>Telemarketing </td>
                                            <td align=right> 8%  1,729</td>
                                            <td align=center>Franchise Accounting</td>
                                            <td align=right> 0.89%   200</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr style="background: #95a5a6;color: white;">
                                            <td align=center>&nbsp;Totals&nbsp;</td>
                                            <td align=center>22,585</td>
                                            <td align=center></td>
                                            <td align=right>44%</td>
                                            <td align=center></td>
                                            <td align=right>34%</td>
                                            <td align=center></td>
                                            <td align=right>11%</td>
                                            <td align=center></td>
                                            <td align=right>8%</td>
                                            <td align=center></td>
                                            <td align=right>0.89%</td>
                                            <td align=center></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts{
    <script>
    jQuery(document).ready(function () {
        $('#tblcall').dataTable({
            "bAutoWidth": false,
            "bSort": false,
            "order": true,
            "iDisplayLength": 25,
            "aLengthMenu": [[5, 7, 10, 25, 50, -1], [5, 7, 10, 25, 50, "All"]],
            "dom": "<'table-responsive't><'bottom'ip><'clear'>",
            "aaSorting": [[0, "desc"]],
        });
    });
    </script>
}