
@{
    ViewBag.Title = "TelemarketerProduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" role="form" id="form_CustomerReport" action="" method="post">
    <div class="custom-form portlet light">
        <div class="headerbox">
            <div class="row">
                <div class="col-md-12 text-center">
                    Telemarketing Production
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 pnd5 control-label" style="padding-top:5px;">
                                Date Range:
                            </div>
                            <div class="col-md-2" style="padding-bottom: 5px;">
                                <div class="input-group " data-date-format="mm/dd/yyyy">
                                    <input class="form-control input-sm date-picker" type="text" />
                                    <span class="input-group-btn cal-btn">
                                        <button class="btn default cal-btn" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-1 text-center" style="padding-top: 7px;">
                                thru
                            </div>
                            <div class="col-md-2" style="padding-bottom: 5px;">
                                <div class="input-group " data-date-format="mm/dd/yyyy">
                                    <input class="form-control input-sm date-picker" type="text" />
                                    <span class="input-group-btn cal-btn">
                                        <button class="btn default cal-btn" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <p>
                                    <span style="color:red;">Inactive users listed in red.</span><br />
                                    Enter a specific date range and the payroll hours for each telemarketer in that date range.
                                    For example, if on the January 20th payroll a telemarketer was paid 40 hours,you would
                                    enter 01/01/2003 thru 01/15/2003 for the date range and 40 for the Hours Paid.
                                    Click 'Submit' and the actual calls/appointments per hour ratio will be calculated for each telemarketer.
                                    Leave the hours field blank for any individual that you DO NOT want included on the report. 
                                </p>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-12 text-right" style="padding-right: 0px;">
                        <div class="col-md-1 col-md-offset-10" style="padding-left: 0px;">
                            <a class="btn btn-primary button-next col-md-11" onclick="location.href='@Url.Action("TelemarketerProductionReport", "CRMReport", new { area = "CRM" })'">Submit</a>
                        </div>
                        <div class="col-md-1" style="padding-left: 0px;">
                            <input type="submit" class="btn btn-primary button-next col-md-11" value="Reset" id="btnReset" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
