<?xml version="1.0"?>
<connectionStrings>
  <add name="DbCon" connectionString="data source=74.208.156.46;initial catalog=JKFMSDEV;user id=sa;password=!fms!janiling123;MultipleActiveResultSets=True;Connection Timeout=280;" providerName="System.Data.SqlClient" />
  <add name="jkDatabaseEntities" connectionString="metadata=res://*/DAL.JKDatabase.csdl|res://*/DAL.JKDatabase.ssdl|res://*/DAL.JKDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=74.208.156.46;initial catalog=JKFMSDEV;persist security info=True;user id=sa;password=!fms!janiling123;MultipleActiveResultSets=True;Connection Timeout=280;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

</connectionStrings>
