<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" requirePermission="false" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <connectionStrings configSource="connectionStringQA.config"/>
  <appSettings configSource="appSettingQA.config"/>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6"/>
    <!--    <httpRuntime targetFramework="4.6" maxRequestLength="4194302" executionTimeout="3600" />-->
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576" targetFramework="4.6"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." preCondition="integratedMode,runtimeVersionv4.0" type="System.Web.Handlers.TransferRequestHandler" verb="*"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect newVersion="10.0.0.0" oldVersion="0.0.0.0-10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect newVersion="1.1.0.0" oldVersion="1.0.0.0-1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect newVersion="1.6.5135.21930" oldVersion="0.0.0.0-1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="System.Web.Http" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect newVersion="5.2.6.0" oldVersion="0.0.0.0-5.2.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect newVersion="5.2.6.0" oldVersion="0.0.0.0-5.2.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect newVersion="3.5.0.2" oldVersion="0.0.0.0-3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="System.Web.Razor" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect newVersion="3.0.0.0" oldVersion="0.0.0.0-3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect newVersion="1.3.0.0" oldVersion="0.0.0.0-1.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect newVersion="3.1.0.0" oldVersion="0.0.0.0-3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect newVersion="3.1.0.0" oldVersion="0.0.0.0-3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect newVersion="3.1.0.0" oldVersion="0.0.0.0-3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity culture="neutral" name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect newVersion="3.1.0.0" oldVersion="0.0.0.0-3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect newVersion="3.0.0.0" oldVersion="1.0.0.0-3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect newVersion="3.0.0.0" oldVersion="1.0.0.0-3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect newVersion="5.2.6.0" oldVersion="1.0.0.0-5.2.6.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <elmah>
    <security allowRemoteAccess="0"/>
    <errorLog connectionStringName="JKControlMasterDB" type="Elmah.SqlErrorLog, Elmah"/>
  </elmah>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!-- file targets -->
      <target name="asyncFile" xsi:type="AsyncWrapper">
        <target fileName="${basedir}/APILog/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message} ${aspnet-user-identity}" name="f" xsi:type="File"/>
      </target>
      <!-- database targets -->
      <target commandText="INSERT INTO transUser(EventDateTime, EventLevel, UserName, MachineName, EventMessage, ErrorSource, ErrorClass, ErrorMethod, ErrorMessage, InnerErrorMessage,RequestUri,IsMobileRequest,RegionId,HttpUserAgent,RequestTime,ResponseTime) VALUES (@EventDateTime, @EventLevel, @UserName, @MachineName, @EventMessage, @ErrorSource, @ErrorClass, @ErrorMethod, @ErrorMessage, @InnerErrorMessage,@RequestUri,@IsMobileRequest,@RegionId,@HttpUserAgent,@RequestTime,@ResponseTime)" connectionStringName="JKControlMasterDB" dbProvider="System.Data.SqlClient" keepConnection="true" name="database" useTransactions="true" xsi:type="Database">
        <!-- parameters for the command -->
        <parameter layout="${date:s}" name="@EventDateTime"/>
        <parameter layout="${level}" name="@EventLevel"/>
        <parameter layout="${event-context:item=username}" name="@UserName"/>
        <parameter layout="${machinename}" name="@MachineName"/>
        <parameter layout="${message}" name="@EventMessage"/>
        <parameter layout="${event-context:item=error-source}" name="@ErrorSource"/>
        <parameter layout="${event-context:item=error-class}" name="@ErrorClass"/>
        <parameter layout="${event-context:item=error-method}" name="@ErrorMethod"/>
        <parameter layout="${event-context:item=error-message}" name="@ErrorMessage"/>
        <parameter layout="${event-context:item=inner-error-message}" name="@InnerErrorMessage"/>
        <parameter layout="${event-context:item=RequestUri}" name="@RequestUri"/>
        <parameter layout="${event-context:item=IsMobileRequest}" name="@IsMobileRequest"/>
        <parameter layout="${event-context:item=RegionId}" name="@RegionId"/>
        <parameter layout="${event-context:item=HttpUserAgent}" name="@HttpUserAgent"/>
        <parameter layout="${event-context:item=RequestTime}" name="@RequestTime"/>
        <parameter layout="${event-context:item=ResponseTime}" name="@ResponseTime"/>
      </target>
    </targets>
    <rules>
      <!-- add your logging rules here -->
      <logger minlevel="Debug" name="*" writeTo="asyncFile,database"/>
    </rules>
  </nlog>
  <system.codedom>
    <compilers>
      <compiler compilerOptions="/langversion:default /nowarn:1659;1699;1701" extension=".cs" language="c#;cs;csharp" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4"/>
      <compiler compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" extension=".vb" language="vb;vbs;visualbasic;vbscript" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4"/>
    </compilers>
  </system.codedom>
</configuration>