<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="false" />
  <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
  <add key="elmah.mvc.allowedRoles" value="*" />
  <add key="elmah.mvc.allowedUsers" value="*" />
  <add key="elmah.mvc.route" value="elmah" />
  <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
  <add key="emailImapHost" value="imap.gmail.com" />
  <add key="emailImapPort" value="993" />
  <add key="emailSmtpHost" value="smtp.office365.com" />
  <add key="emailSmtpPort" value="587" />
  <add key="emailSmtpClientTimeOut" value="10000" />
  <add key="emailSmtpUsername" value="fms@janiking.com" />
  <add key="emailSmtpPassword" value="JK123JK!!" />
  <add key="emailFromName" value="Jani-King - Franchise Management System" />
  <add key="emailFrom" value="fms@janiking.com" />
  <add key="FilesDirectory" value="C:\fms_files" />
  <add key="VOIPLicenseUserId" value="Trial4858-9C92-FFCF-3EE83786-A939-E787-1E09-4A4B8313EE49" />
  <add key="VOIPLicenseKey" value="wicaADuENYCgQAhEVdEj4jfwsDCpy43KOzFow5Pg40XbcjASmR2meO4T2US3OcpqxvSCoGMQPmLroj1h9ZHg2g==" />
  <add key="RegDomain" value="69.162.127.115" />
  <add key="RegUser" value="1150" />
  <add key="RegPassword" value="abc123" />
  <add key="RegExpire" value="300" />
  <add key="FileApiUrl" value="http://fmsapi.ecom.bid/" />
  <add key="jsVersion" value="1.2" />
  <add key="fomProd" value="https://fom.janiking.com" />
  <add key="fomDev" value="http://fom.ecom.bid" />
  <add key="apiEndpoint" value="http://fmsapi.ecom.bid" />
</appSettings>