
<section>
    <div class="well bs-component">
        <br />

        <div class="row">
            <div>
                <table class="table table-striped table-bordered table-hover"
                       id="TableId"
                       cellspacing="0"
                       align="center"
                       width="100%">
                    <thead>
                        <tr>
                            <th>Inv Date</th>
                            <th>Inv Number</th>
                            <th>Due Date</th>
                            <th>Current</th>
                            <th>1-30</th>
                            <th>31-60</th>
                            <th>61-90</th>
                            <th>91+</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>


<script>

    $('#TableId').DataTable(
    {
        "columnDefs": [
            { "width": "5%", "targets": [0] },
            { "className": "text-center custom-middle-align", "targets": [0, 1, 2, 3, 4, 5, 6] },
        ],
        "language":
            {
                "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
            },
        "processing": true,
        "serverSide": true,
        "ajax":
            {
                "url": "/AccountReceivable/getAgingList",
                "type": "POST",
                "dataType": "JSON"
            },
        "columns": [
                    { "data": "Inv Date" },
                    { "data": "Name" },
                    { "data": "Address1" },
                    { "data": "City" },
                    { "data": "Statename" },
                    { "data": "Postalcode" },
                    { "data": "Phone" },
                    { "data": "Distribution" }
        ]
    });







    });

</script>