
@{
    ViewBag.Title = "OtherDepositsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

    <link href="@Url.Content("https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/admin/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <style type="text/css">
        .jkcustom-page-title {
            font-size: 18px;
            padding: 3px;
            color: #fff !important;
            background: #3598dc !important;
            text-align: center;
            margin-bottom: 10px;
        }

        .tr-HeaderStyle {
            background-color: #336699;
            color: #fff;
        }
    </style>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="jkcustom-page-title">
                Deposits List
            </div>
            <div class="portlet box">
                <div class="portlet-title">
                    <div class="row">
                        <input type="button" value="Deposite to Register" class="btn fa-pull-left btn-default btn-info" />
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-condensed" id="searchLockboximport">
                        <thead class="thead-inverse">
                            <tr class="tr-HeaderStyle">
                                <th>Reference No.</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}


@section scripts{

    <script>
        $(document).ready(function () {
            $('#searchLockboximport').DataTable();
        });
    </script>
}





