@using System.Configuration 
 <!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        2017-@DateTime.Today.Year &copy;
        <a target="_blank" href="">Jani-King International</a>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER --> 
</div>