
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ContractDetail</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>

@{
    ViewBag.Title = "Contract Detail Description";
    Layout = null;
}



<!-- BEGIN SAMPLE TABLE PORTLET-->
<div class="portlet box">

    @*<button type="button" class="btn red dropdown-toggle pull-right subsectionBtn" onclick="AddContractDetailDescription(0)">
        <i class="fa fa-plus"></i>&nbsp;<span class="hidden-sm hidden-xs">New&nbsp;</span>
    </button>*@
    <div class="portlet-body flip-scroll">
        <table class="table table-bordered table-striped table-condensed flip-content" id="generalCustomerList">
            <thead class="flip-content">
                <tr>
                    
                    <th class="numeric" width="20%"> Description </th>
                    <th class="numeric" width="10%"> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td class="numeric"> <a javascript:void(0);><i onclick="AddContractDetailDescription()" class="fa fa-2x fa-edit"></i></a></td>
                </tr>
                @*@if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.ContractDetailDescriptionId  </td>
                            <td> @item.Description </td>
                            <td class="numeric"> <a javascript:void(0);><i onclick="AddContractDetailDescription(@item.ContractDetailDescriptionId)" class="fa fa-2x fa-edit"></i></a></td>
                        </tr>

                    }
                }*@
            </tbody>
        </table>
    </div>
</div>
<!-- END SAMPLE TABLE PORTLET-->

