
@{
    ViewBag.Title = "Franchisee Owner";
    Layout = null;
}

@model JKViewModels.Franchisee.FullFranchiseeViewModel

<!-- BEGIN SAMPLE TABLE PORTLET-->
<div class="" style="margin-top: -5px;">


    <div class="portlet-body">

        <table class="table table-bordered table-striped table-condensed flip-content" id="generalFranchiseeMainContactTemp">
            <thead class="flip-content">
                <tr>
                    <th>Full Name </th>
                    <th class="numeric" width="20%"> Phone </th>
                    <th class="numeric" width="20%"> Email</th>
                    <th width="7%;"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ContactInfo != null)
                {
                <tr>
                    <td> @Model.ContactInfo.Name  </td>
                    <td class="numeric"> @Model.ContactInfoPhone.Phone</td>
                    <td> @Model.ContactInfoEmail.EmailAddress</td>
                    <td> <a href="javascript:void(0);" class="edittabMainContact edittab2MainContactlink"><i onclick="EditFranchiseeContactTemp(@Model.ContactInfo.ContactId)" class="fa fa-2x fa-edit "></i></a></td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<!-- END SAMPLE TABLE PORTLET-->