@{
    ViewBag.Title = "Franchisee Owner";
    Layout = null;
}

@model List<JKViewModels.Franchisee.FranchiseOwnersList>


  <!-- BEGIN SAMPLE TABLE PORTLET-->
<div class="">

    <button type="button" class="btn red dropdown-toggle pull-right subsectionBtn" onclick="addEditOwner(0)">
        <i class="fa fa-plus"></i>&nbsp;<span class="hidden-sm hidden-xs">New&nbsp;</span>
    </button>
    <div class="portlet-body flip-scroll">
        <table class="table table-bordered table-striped table-condensed flip-content" id="generalFranchiseeOwner">
            <thead class="flip-content">
                <tr>
                    <th> Name </th>
                    <th class="numeric" width="20%"> Phone </th>
                    <th class="numeric" width="20%"> Title</th>
                    <th class="numeric" width="10%"> Action </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.ContactName  </td>
                            <td class="numeric"> @item.Phone</td>
                            <td> @item.Title</td>
                            <td class="numeric"> <a href="javascript:void(0);" class="edittab3 edittab3link"><i onclick="addEditOwner(@item.FranchiseeOwnerListId)" class="fa fa-2x fa-edit"></i></a></td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>
<!-- END SAMPLE TABLE PORTLET-->
