
@{
    ViewBag.Title = "MaintenanceLastStep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="@Url.Action("MaintenanceLastStep", "Franchise", new { area = "Portal"})" method="post">
    <div class="modal-body" style="padding:80px;">
        <div class="row">
            <div class="col-md-3">
                <input type="hidden" name="FranchiseeId" value="@ViewBag.FranchiseeId" />
            </div>
            <div class="col-md-5">
                <div class="custom-form portlet light" style="margin: 0px auto;padding:0;">
                    <div class="portlet-body form" style="border:1px solid #e7ecf1;">
                        <div class="form-body">
                            <div class="row" style="padding: 3px;margin: 0;text-align:center;font-size:16px;"><b>Congrats!</b></div>
                            <div class="row" style="padding: 3px;margin: 0;text-align:center;font-size:14px;">New Franchisee has submited sucess and now waiting </div>
                            <div class="row" style="padding: 3px;margin: 0;text-align:center;font-size:14px;">for approval.</div>
                            <div class="row" style="padding: 3px;margin: 0;text-align:center;font-size:14px;"></div>
                            <div class="row" style="padding: 3px;margin: 0;text-align:center;">
                                <button type="submit" class="btn btn-primary button-next" id="btnClose">
                                    Close
                                    <i class="fa fa-close"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</form>
@*@section scripts{
    <script>        
        $('#btnClose').click(function () {
            window.location.href = '@Url.Action("SearchList", "Franchise", new { area = "Portal"})'+"?searchin=7&status=1";
        });
    </script>
}*@