<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ServiceName" value="Tax_Import_Data_Service" />
    <add key="ServiceSleepTime" value="1" />
    <add key="APIURL" value="https://api.zip-tax.com/request/v30" />
    <add key="LogInFileOrEvent" value="file" />
    <add key="APIKey" value="K8E65AhXIga2fJuz" />
  </appSettings>
  
  <connectionStrings>
    <add name="jkDatabaseEntities" connectionString="metadata=res://*/DAL.JKDatabase.csdl|res://*/DAL.JKDatabase.ssdl|res://*/DAL.JKDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=74.208.128.79;initial catalog=jkBuf;user id=sa;password=FMSportal22!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
