<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServiceName" value="GAC_ImportData_Service" />
    <add key="ServiceTimeOut" value="10" />
    <add key="LogPath" value="C:\Import Tool Logs" />
    <add key="EnableLog" value="True" />
    <add key="UseWinLog" value="False" />
    <add key="ServiceSleepTime" value="3"/>
    </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
